.hero-shop {
  height: 300px;
  margin-bottom: 67px;
  @media (max-width: $md2+px) {
    @include adaptiv-value(margin-bottom, 67, 50, 3);
  }
  // .hero-shop__bg

  &__bg {
    img {
      height: 300px;
    }
  }
  &__products {
    padding-bottom: 100px;
    padding-bottom: 26px;
    @media (max-width: $md2+px) {
      @include adaptiv-value(padding-bottom, 100, 50, 3);
      @include adaptiv-value(padding-bottom, 26, 20, 3);
    }
  }

  // .hero-shop__body

  &__body {
    align-items: center;
  }

  // .hero-shop__text-box

  &__text-box {
    margin-top: 57px !important;
  }
  &__products-card {
    @media (max-width: 768px) {
      margin-top: 50px;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1120px) {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 70px;
    @media (max-width: 1250px) {
      @include adaptiv-value(gap, 70, 20, 3);
    }
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
  }

  // .filter__text

  &__text {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 11px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #1a2f3f;
    &::before {
      font-size: 20px;
    }
  }

  // .filter__selects

  &__selects {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: $md2+px) {
      @include adaptiv-value(gap, 30, 5, 3);
    }
  }

  // .filter__cost

  &__cost {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .filter__cost-text

  &__cost-text {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #1a2f3f;
  }

  // .filter__cost-buttons

  &__cost-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    @media (max-width: $md2+px) {
      gap: 10px;
    }
  }

  // .filter__cost-button

  &__cost-button {
    width: 15px;
    height: 15px;
    background: unset;
    &:nth-child(1) {
      transform: rotate(180deg);
    }
    &::before {
      color: #337d5a;
    }
    &._active {
      opacity: 0.5;
    }
    @media (max-width: $md2+px) {
      font-size: 20px;
    }
  }

  // .filter__remove-filter

  &__remove-filter {
    gap: 30px;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    &._active {
      display: flex;
      pointer-events: unset;
      overflow: visible;
      opacity: 1;
      visibility: visible;
    }
  }

  // .filter__accept-button

  &__accept-button {
    @extend %mainButton;
    padding: 11px 34px;
    text-align: center;
  }

  // .filter__remove-button

  &__remove-button {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: unset;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #8a8a8a;
  }

  &__button-weight,
  &__button-taste {
    padding-left: 15px;
    background: none;
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
    transition: all 0.4s ease;
    &:hover {
      background-color: $greenColor;
      color: #fff;
    }
  }
}

.custom-select {
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 283px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: #1a2f3f;
  &.active {
    border: 1px solid #337d5a;
  }
  &__second {
    width: 171px;
  }
  @media (max-width: $md2+px) {
   width: 100%;
  }
}

.select-header {
  position: relative;
  padding: 15px 17px;
  padding-left: 17px;
}

.select-header::after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
}

.select-list {
  position: absolute;
  top: 50px;
  width: 283px;
  left: -1px;
  max-height: 240px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

  li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  &__second {
    width: 171px;
  }
  @media (max-width: $md2+px) {
    @include adaptiv-value(width, 283, 150, 3);
    margin: 0 auto;
  }
}

.select-list.active {
  opacity: 1;
  visibility: visible;
}

.select-item {
  display: block;
  padding: 12px;
  transition: background-color 0.2s ease-in-out;
}

.select-item:hover {
  background-color: #f2f2f2;
}

.select-item.selected {
  background-color: #eee;
}
