.corporate-tab {
  margin-top: 111px;
  margin-bottom: 84px;
  @media (max-width: $md2+px) {
    @include adaptiv-value(margin-top, 111, 50, 3);
  }
  // .corporate-tab__container

  &__container {
    max-width: 1322px;
  }

  // .corporate-tab__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: 39px;
  }

  // .corporate-tab__top

  &__top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding-bottom: 15px;
    @media (max-width: $md2+px) {
      border-bottom: unset;
    }
  }

  // .corporate-tab__buttons

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md2+px) {
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }
  }

  // .corporate-tab__button

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: unset;
    max-width: 222px;
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #1a2f3f;
    svg {
      width: 71px;
    }
    &.mixitup-control-active {
      svg {
        path {
          fill: #337d5a;
        }
      }
    }
    @media (max-width: $md2+px) {
      width: 100%;
      max-width: unset;
      border-bottom: 1px solid #337d5a;
      padding-bottom: 5px;
      svg {
        min-width: 60px;
      }
      align-items: center;
    }
  }

  // .corporate-tab__bottom

  &__bottom {
  }

  // .corporate-tab__text

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md2+px) {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  // .corporate-tab__left

  &__left {
    padding-right: 20px;
    position: relative;
    top: 18px;
  }

  // .corporate-tab__right

  &__right {
  }
  &__button-text {
    @extend %mainButton;
    padding: 11px 34px;
    text-align: center;
  }
}
.corporate-numbers {
  background: #fbfbfb;
}

.corporate-eco {
  margin-top: 9px;  
  margin-bottom: unset;
}
