.cabinet {
  // .cabinet__container

  &__container {
    max-width: 1320px;
  }

  // .cabinet__body

  &__body {
    padding-top: 110px;
    padding-bottom: 110px;
    background: #fbfbfb;
  }

  // .cabinet__top

  &__top {
    display: flex;
    align-items: center;
    gap: 77px;
    margin-bottom: 64px;
  }

  // .cabinet__title

  &__title {
    @extend %user-title;
  }

  // .cabinet__manager

  &__manager {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #1a2f3f;
  }

  // .cabinet__discount

  &__discount {
  }

  // .cabinet__bottom

  &__bottom-wrapper {
    display: flex;
    gap: 10px;
  }

  &__left {
    width: 25%;
  }

  &__right {
    width: 75%;
  }

  &__button-submit {
    @extend %mainButton;
    width: 230px;
    padding: 16px 0;
    margin-top: 15px;
    &.not-valid {
      background-color: gray;
      pointer-events: none;
    }
  }

  &__contact-wrapper {
    display: flex;
    gap: 35px;
  }

  // .cabinet__bottom-items

  &__bottom-items {
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  // .cabinet__bottom-item

  &__bottom-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__inputs-wrapper {
    width: 474px;
    flex-direction: column;
    width: 474px;
    display: flex;
    gap: 15px;
  }

  // .cabinet__bottom-title

  &__bottom-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #1a2f3f;
  }

  // .cabinet__bottom-column

  &__bottom-column {
    display: flex;
    flex-direction: column;
  }

  // .cabinet__bottom-link

  &__bottom-link {
  }
  // .cabiten__button

  &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #1a2f3f;
    background-color: unset;
    padding: 5px 0;
    &.mixitup-control-active {
      color: #337d5a;
      padding-bottom: 2px;
      border-bottom: 2px solid #337d5a;
    }
  }

  //table

  &__tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 50px;
  }
  &__table {
    width: 100%;
    tbody {
      gap: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    td {
      flex-basis: 150px;
      text-align: center;
      font-family: "Montserrat";
      font-size: 14px;
      line-height: 20px;
      color: #1a2f3f;
    }
  }
  &__tr-first {
    background: #fbfbfb;
    td {
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      color: #1a2f3f;
    }
  }
  &__tr-third {
    background: rgba(51, 125, 90, 0.1);
  }

  &__fn-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    button {
      background: none;
    }
  }

  &__contact-edit,
  &__adress-edit {
    position: absolute;
    right: 0;
    top: 0;
    background: unset;
    img {
      width: 30px;
    }
  }

  &__info-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__adress-cancel,
  &__info-cancel {
    @extend %mainButtonWhite;
    width: 230px;
    padding: 16px 0;
    margin-top: 15px;
    background-color: unset;
    text-align: center;
    &:hover {
      background-color: red;
    }
  }

  //contact

  // .cabinet__contact-wrapper

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 40px;
    background: rgba(51, 125, 90, 0.1);
    position: relative;
  }

  // .cabinet__contact-item

  &__contact-wrap {
    display: flex;
    gap: 20px;
  }

  // .cabinet__contact-list

  &__contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 50px;
  }

  // .cabinet__contact-list-item

  &__contact-list-item {
    display: flex;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #1a2f3f;
  }
  &__contact-title {
    @extend %user-subtitle;
    text-align: center;
    font-size: 20px;
  }

  //adress

  &__form-adress {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1300px) {
      justify-content: center;
    }
  }
  &__form-wrapper {
    width: 474px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__form-img {
    width: 440px;
    position: relative;
    height: fit-content;
    img {
      width: 440px;
    }
    @media (max-width: 1300px) {
      display: none;
    }
  }
  &__img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__img-text-title {
    @extend %main-title;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  &__img-text-subtitle {
    @extend %main-subtitle;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
  }
  &__adress-submit {
    @extend %mainButton;
    width: 230px;
    padding: 16px 0;
    margin-top: 15px;
  }

  //password

  &__form-password {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__password-submit {
    @extend %mainButton;
    width: 230px;
    padding: 16px 0;
    margin-top: 15px;
  }
  &__form-title {
    @extend %user-title;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

#cabinetFop,
#cabinet,
#userAdress,
#userAdressFop {
  opacity: 1;
  overflow: visible;
  pointer-events: unset;
  height: 100%;
  &._hide {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    height: 0;
    padding: 0;
  }
}

#cabinetFopEdit,
#cabinetEdit,
#userAdressEdit,
#userAdressFopEdit {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  height: 0;
  &._active {
    opacity: 1;
    overflow: visible;
    pointer-events: unset;
    height: 100%;
  }
}
