.forgot-password {
  margin-bottom: 100px;
  margin-top: 111px;
  @media (max-width: $md2+px) {
    @include adaptiv-value(margin-bottom, 100, 50, 3);
    @include adaptiv-value(margin-top, 111, 50, 3);
  }
  // .forgot-password__container

  &__container {
    max-width: 1320px;
  }

  // .forgot-password__body

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // .forgot-password__title

  &__title {
    @extend %main-title;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 18px;
    @media (max-width: $md2+px) {
      @include adaptiv-font(32, 25, 4);
    }
  }

  // .forgot-password__items

  &__items {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  // .forgot-password__item

  &__item {
    display: flex;
    flex-direction: column;
  }

  // .forgot-password__item-title

  &__item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #1a2f3f;
    margin-bottom: 8px;
  }

  // .forgot-password__item-subtitle

  &__item-subtitle {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #8a8a8a;
    max-width: 450px;
    margin-bottom: 16px;
    padding: 0 33px;
    span {
      color: #1a2f3f;
    }
    &--new {
      padding: unset;
    }
  }

  // .forgot-password__form

  &__form {
    width: 410px;
    margin: 0 auto;
    margin-bottom: 17px;
    &--new {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    @media (max-width: $md3+px) {
      width: 100%;
    }
  }

  // .forgot-password__button

  &__button {
    @extend %mainButton;
    display: inline-flex;
    width: fit-content;
    padding: 15px 51px;
    margin: 0 auto;
  }
}
