@use "sass:math";

// Подключение шрифтов локально из папки "./src/fonts" =======================================================================================================================
@import "config/fonts";
@import "config/iconsFonts";

// Подключение sass функций и миксинов и рассширений стилей =======================================================================================================================
@import "config/functions";
@import "config/patternSelectors";

// Подключение переменных =======================================================================================================================
@import "config/vars";

// Обнуление =======================================================================================================================
@import "config/reset";

/* =======================================================================================================================
* Библиотеки
* раскомментировать для использования 
*/
// @import 'libs/aos';
// @import 'libs/swiper';

// Подлючение кастомного скрола для всего сайта =======================================================================================================================
@import "config/scrollbar";

// БЕМ блоки используемые во всё проекте =======================================================================================================================
@import "config/common";

//<МИКСИНЫ>===============================================================================================
@import "config/mixins";
//</МИКСИНЫ>===============================================================================================

//<Шаблоны>==========================================================================================

@import "config/base";

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;

  @media (max-width: $md1+px) {
    max-width: 750px;
  }

  @media (max-width: $md2+px) {
    max-width: none;
    padding: 0 15px;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import "layout/header";
@import "layout/header-center";
@import "layout/header-bottom";
@import "layout/header-mobile";
@import "main-page/hero.scss";
@import "main-page/products.scss";
@import "main-page/manufacturer.scss";
@import "main-page/cart-click.scss";
@import "main-page/numbers.scss";
@import "main-page/big-picture.scss";
@import "main-page/benefit.scss";
@import "main-page/eco.scss";
@import "main-page/news.scss";
@import "production/owner.scss";
@import "production/gallery.scss";
@import "shop/hero-shop.scss";
@import "shop/ecology.scss";
@import "corporate/corporate-info.scss";
@import "corporate/corporate-tab.scss";
@import "delivery/delivery.scss";
@import "layout/footer";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  // padding: 90px 0px 0px 0px;
  flex: 1 1 auto;
  margin-top: 0;
  //   height: 6682px;
  transition: all 0.5s;
  left: 0;
  &._active {
    margin-top: 15.75rem;
  }
  &._cart-active {
    left: 400px;
    @media (max-width: $md4+px) {
      left: 300px;
    }
  }
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
