.cart-open {
  position: absolute;
  top: rem(40);
  right: 0;
  z-index: 50;
  display: none;
  // .cart-open__body

  &__body {
    padding: rem(30);
    min-height: rem(227);
    width: rem(468);
    border: 1px solid grey;
    background-color: #fff;
  }

  // .cart-open__flex

  &__flex {
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }

  // .cart-open__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: rem(15);
    border-bottom: 1px solid grey;
  }

  // .cart-open__title

  &__title {
    font-size: rem(18);
  }

  // .cart-open__buttons

  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(10);
    button {
      font-size: rem(25);
      padding: rem(5);
    }
    span {
      font-size: rem(25);
    }
  }

  // .cart-open__close

  &__close {
    font-size: rem(25);
    background: none;
  }
  // .card-open__price

  &__price {
    font-size: rem(25);
  }
}
