.hero {
  position: relative;
  height: rem(600);
  @media (max-width: $md2+px) {
    @include adaptiv-value(height, 600, 450, 1);
  }
  // .hero__bg

  &__bg {
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: rem(600);
      object-fit: cover;
      z-index: -1;
      @media (max-width: $md2+px) {
        @include adaptiv-value(height, 600, 450, 1);
      }
    }
  }

  // .hero__body

  &__body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  // .hero__container

  &__container {
  }

  // .hero__text-box

  &__text-box {
    margin-top: rem(194);
    @include adaptiv-value(margin-top, 194, 120, 1);
    @media (max-width: $md4+px) {
      margin-top: rem(143);
    }
  }

  // .hero__title

  &__title {
    @extend %hero-title;
    @include adaptiv-font(62, 28, 1);
    margin-bottom: rem(32);
    text-align: center;
    @media (max-width: $md2+px) {
      @include adaptiv-value(margin-bottom, 32, 5, 1);
    }
    @media (max-width: $md4+px) {
      font-size: rem(28);
      margin-bottom: rem(14);
      line-height: rem(33);
    }
  }

  // .hero__subtitle

  &__subtitle {
    @extend %hero-subtitle;
    @include adaptiv-font(25, 17, 1);
    max-width: rem(600);
    margin: 0 auto;
    margin-bottom: rem(43);
    @media (max-width: $md2+px) {
      max-width: rem(400);
      @include adaptiv-value(margin-bottom, 43, 10, 1);
    }
    @media (max-width: $md4+px) {
      font-size: 17px;
      max-width: rem(300);
      line-height: 20px;
      margin-bottom: rem(28);
    }
  }

  // .hero__play-button

  &__play-button {
    border: none;
    background: none;
    display: flex;
    margin: 0 auto;
    img {
      width: rem(61);
      height: rem(61);
      @media (max-width: $md4+px) {
        width: rem(45);
        height: rem(45);
      }
    }
  }
}
