.hero {
  position: relative;
  height: 600px;
  @media (max-width: $md2+px) {
    @include adaptiv-value(height, 600, 450, 1);
  }
  // .hero__bg

  &__bg {
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 600px;
      object-fit: cover;
      z-index: -1;
      @media (max-width: $md2+px) {
        @include adaptiv-value(height, 600, 450, 1);
      }
    }
  }

  // .hero__body

  &__body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  // .hero__container

  &__container {
  }

  // .hero__text-box

  &__text-box {
    margin-top: 194px;
    @include adaptiv-value(margin-top, 194, 120, 1);
    @media (max-width: $md4+px) {
      margin-top: 143px;
    }
  }

  // .hero__title

  &__title {
    @extend %hero-title;
    @include adaptiv-font(62, 28, 1);
    margin-bottom: 32px;
    text-align: center;
    @media (max-width: $md2+px) {
      @include adaptiv-value(margin-bottom, 32, 5, 1);
    }
    @media (max-width: $md4+px) {
      font-size: 28px;
      margin-bottom: 14px;
      line-height: 33px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    @extend %hero-subtitle;
    @include adaptiv-font(25, 17, 1);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 43px;
    @media (max-width: $md2+px) {
      max-width: 400px;
      @include adaptiv-value(margin-bottom, 43, 10, 1);
    }
    @media (max-width: $md4+px) {
      font-size: 17px;
      max-width: 300px;
      line-height: 20px;
      margin-bottom: 28px;
    }
  }

  // .hero__play-button

  &__play-button {
    border: none;
    background: none;
    display: flex;
    margin: 0 auto;
    img {
      width: 61px;
      height: 61px;
      @media (max-width: $md4+px) {
        width: 45px;
        height: 45px;
      }
    }
  }
}
