.manufacturer {
  // .manufacturer__container

  &__container {
  }

  // .manufacturer__body

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .manufacturer__left

  &__left {
  }

  // .manufacturer__title

  &__title {
  }

  // .manufacturer__subtitle

  &__subtitle {
  }

  // .manufacturer__text

  &__text {
  }

  // .manufacturer__button

  &__button {
  }

  // .manufacturer__right

  &__right {
  }

  // .manufacturer__swiper

  &__swiper {
  }

  // .manufacturer__swiper-wrapper

  &__swiper-wrapper {
  }

  // .manufacturer__swiper-slide

  &__swiper-slide {
  }

  // .manufacturer__slide-body

  &__slide-body {
  }

  // .manufacturer__slide-img

  &__slide-img {
  }

  // .manufacturer__slide-image

  &__slide-image {
  }

  // .manufacturer__button-next

  &__button-next {
  }

  // .manufacturer__button-img

  &__button-img {
  }

  // .manufacturer__button-prev

  &__button-prev {
  }
}
