.numbers {
  padding-top: 77px;
  padding-bottom: 85px;
  @media (max-width: $md2+px) {
    @include adaptiv-value(padding-bottom,77,50,3);
    @include adaptiv-value( padding-bottom,85,50,3);
  }
  &__container {
    max-width: rem(1166);
  }

  // .numbers__body

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md2+px) {
      flex-direction: column;
      justify-content: center;
      gap: rem(40);
    }
  }

  // .numbers__items

  &__items {
    display: flex;
    align-items: center;
    &:nth-child(1) {
      gap: 178px;
      @media (max-width: $md2+px) {
        @include adaptiv-value(gap, 178, 78, 3);
      }
    }
    &:nth-child(2) {
      gap: rem(76);
    }
    @media (max-width: $md2+px) {
      width: 50%;
      justify-content: center;
      align-items: unset;
    }
  }

  // .numbers__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .numbers__title

  &__title {
    font-size: 72px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    line-height: rem(88);
    letter-spacing: 0.01em;
    color: #1a2f3f;
    position: relative;
    span {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 900;
      font-size: rem(18);
      line-height: 21px;
      letter-spacing: 0.05em;
      color: #1a2f3f;
      position: absolute;
      top: rem(12);
      right: -26px;
    }
    @media (max-width: $md2+px) {
      @include adaptiv-font(72, 50, 4);
    }
  }

  // .numbers__subtitle

  &__subtitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(21);
    text-align: center;
    letter-spacing: 0.02em;
    color: #1a2f3f;
    max-width: rem(150);
  }
  &__subtitle-big {
    max-width: rem(350);
  }
}
