.products {
  padding-top: 82px;
  // .products__container

  &__container {
    max-width: rem(1320);
  }

  // .products__title

  &__title {
    @extend %main-title;
    text-align: center;
    margin-bottom: rem(30);
    @include adaptiv-font(45, 25, 4);
  }

  // .products__subtitle

  &__subtitle {
    @extend %main-subtitle;
    max-width: rem(620);
    margin: 0 auto;
  }

  // .products__cards

  &__cards {
    margin-top: rem(62);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    row-gap: 50px;
  }



  // .products__card

  &__card {
    // width: 410px;
    @include adaptiv-value(width, 410, 300, 3);
    @media (min-width: $md2+px) {
      @include adaptiv-value(width, 410, 150, 1);
    }
    min-height: rem(534);
    border: 1px solid rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;
    &:hover {
      border: 1.5px solid $yellowGreenColor;
    }
  }

  // .products__swiper-img

  &__swiper-img {
    padding: rem(20) rem(16) 0 rem(16);
  }

  // .products__swiperImg

  &__swiperImg {
  }

  //. products__cards-swiper-img

  &__cards-swiper-img {
    display: flex;
    margin: 0 auto;
    max-width: rem(242);
    max-height: rem(234);
    @media (max-width: $md4+px) {
      max-width: rem(150);
      max-height: rem(150);
    }
  }
  // .products__text

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: rem(44);
  }

  // .products__text-title

  &__text-title {
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(21);
    text-align: left;
    letter-spacing: 0.01em;
    color: #1a2f3f;
    padding-left: rem(20);
    margin-bottom: rem(7);
  }

  // .products__text-subtitle

  &__text-subtitle {
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(17);
    letter-spacing: 0.01em;
    color: #000000;
    max-width: rem(260);
    padding-left: rem(23);
    margin-bottom: rem(18);
    min-height: rem(35);
  }

  // .products__articul

  &__text-articul {
    padding-left: rem(23);
    margin-bottom: rem(14);
    font-family: "Montserrat";
    font-size: rem(15);
    line-height: rem(18);
    text-align: left;
    letter-spacing: 0.01em;
    color: #8a8a8a;
  }

  // .products__info

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  // .products__info-left

  &__info-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: rem(10);
    &::before {
      font-size: rem(20);
      color: $greenColor;
    }
  }

  // .products__info-wrapper-left

  &__info-wrapper-left {
    display: flex;
    flex-direction: column;
  }

  // .products__info-title

  &__info-title,
  &__info-subtitle {
    font-family: "Montserrat";
    font-size: rem(14);
    line-height: rem(17);
    letter-spacing: 0.01em;
    color: #8a8a8a;
  }

  // .products__info-subtitle

  &__info-subtitle {
    color: $greenColor;
    font-weight: 700;
  }

  // .products__info-right

  &__info-right {
    display: flex;
    align-items: center;
    gap: rem(10);
    padding-right: rem(28);
    &::before {
      color: $greenColor;
      font-size: rem(20);
    }
  }

  // .products__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: rem(28);
    padding: 0 rem(23);
    @media (max-width: $md3+px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(10);
      padding-bottom: rem(15);
    }
  }

  // .products__bottom-left

  &__bottom-left {
    display: flex;
    align-items: center;
    gap: rem(7);
  }

  // .products__bottom-price

  &__bottom-price {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: rem(15);
    line-height: rem(18);
    letter-spacing: 0.01em;
    color: #1a2f3f;
  }

  // .products__bottom-price-item

  &__bottom-price-item {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: 0.01em;
    color: #337d5a;
    span {
      font-size: rem(15);
    }
  }

  // products__button

  &__button {
    @extend %mainButtonWhite;
    margin: 0 auto;
    display: block;
    max-width: 200px;
    padding: rem(17) rem(27);
    margin-top: rem(72);
    text-align: center;
    background: none;
  }

  // .products__bottom-right

  &__bottom-right {
  }

  // .products__bottom-button

  &__bottom-button {
    @extend %mainButton;
    padding: 11px 34px;
    text-align: center;
    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  // .products__img-button-next

  &__img-button-next,
  &__img-button-prev {
    position: absolute;
    top: 52%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s ease;
  }

  // .products__img-button-next

  &__img-button-prev {
    left: 0;
    transform: rotateY(180deg);
  }
  &__img-button-next {
    right: 0;
  }
  &__card-link {
    opacity: 1;
    height: auto;
    pointer-events: unset;
    overflow: visible;
    transition: all 0.4s ease;
    &._hide {
      opacity: 0;
      height: 0;
      pointer-events: none;
      overflow: hidden;
    }
  }
}

.products__card {
  &:hover {
    .products__img-button-next,
    .products__img-button-prev {
      opacity: 1;
    }
    .swiper-button-disabled {
      opacity: 0.3;
    }
  }
}
